#issImage{
    position:absolute;
    width: 200px; 
    height: 200px;
    margin-top: 35%;
    -webkit-animation: spin 10s infinite linear;
    animation: spin 10s infinite linear;
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
    

#issImage:hover {
    transform: rotate(1080deg);
  }

 #alienImage{
    position:absolute;
    width: 200px; 
    height: 200px;
    margin-top: .25%;
  }