 img {
    position: absolute;
    margin: auto; 
    height: 100%;
    width: 55%; 
/* 
     For the following settings we set 100%, but it can be higher if needed 
    See the answer's update  */

    left: -110%;
    right: -110%;
    border-radius: 50%;
     /* top: -100%;
    bottom: -100%;  
     */
    
}
/* .main-div{
    background-position: center;
    background-size: 200%;
}
      */


.portrait {
    width: 375px;
    height: 195px;
    overflow: hidden;
    margin: 10px;
    position: relative;
    background-position: center;
    margin-bottom: -5px;
  
}

.portrait:hover{
    box-shadow: 0px 0px 0px rgb(245, 41, 41); 
    transform: translate( -5px, -10px );
    cursor: pointer;
    transition: box-shadow .0s, transform 0.55s;
    opacity: .8;
    
} 
.planet-names{
    color:red;
    font-family: 'Butcherman', cursive;
    text-align: center;
}
